h3{
    text-align: center ;
}
body{
background-color:#ffff0085;
padding: 20px ;
background-size:;
padding: 20px;
text-align: center;
position:inherit;


}

form{
    background-color: aliceblue;
    padding: 30px;
    text-align: left;
    position: absolute;
    right: 38%;
    
    
}
